<section class="benefits-section">
  <div class="container">
    <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
    <div>
      <div class="benefits-ul">
        <div class="benefits-card-div">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#icon-user"></use>
            </svg>
          </div>

          <li class="benefits-li">
            Expertise
            <p class="benefits-p">
              As a highly experienced developer, I have deep knowledge of
              programming and website development.
            </p>
          </li>
        </div>

        <div class="benefits-card-div">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#icon-messages"></use>
            </svg>
          </div>

          <li class="benefits-li">
            Communication
            <p class="benefits-p">
              Understanding your needs and wants is my priority and I am always
              open to discussions and corrections.
            </p>
          </li>
        </div>

        <div class="benefits-card-div">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#icon-tassel"></use>
            </svg>
          </div>

          <li class="benefits-li">
            Art
            <p class="benefits-p">
              Thanks to my creative nature, I am ready to accept challenges and
              help you bring your ideas to life.
            </p>
          </li>
        </div>

        <div class="benefits-card-div">
          <div class="benefits-svg">
            <svg width="24" height="24">
              <use href="./img/sprite.svg#icon-time"></use>
            </svg>
          </div>

          <li class="benefits-li">
            Urgent execution
            <p class="benefits-p">
              I understand how important time is to you. Ready to work quickly
              and efficiently, without reducing the quality of work.
            </p>
          </li>
        </div>
      </div>

      <a href="#catalog" class="benefits-a">Order the project</a>
    </div>
  </div>
</section>