<section class="js_enable_animation " id="covers-section">
    <h2 class="cover_is_active visually-hidden ">Cover</h2>
    <div class=" marquee" >
        <ul class="marquee__inner">
            <li class="marquee__line">
                <img class="is-active" srcset="
                    ../img/cover/img_1x/first screen_1.jpg 1x 
                    ../img/Cover/img_2x/first screen_1.jpg 2x " src="../img/Cover/first screen_1.jpg" height="162"
                    width="282" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_9.jpg 1x
                        ../img/Cover/img_2x/Rectangle_9.jpg 2x" src="../img/Cover/Rectangle_9.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_10.jpg 1x
                        ../img/Cover/img_2x/Rectangle_10.jpg 2x" src="../img/Cover/Rectangle_10.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class=" marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_6.jpg 1x
                        ../img/Cover/img_2x/Rectangle_6.jpg 2x" src="../img/Cover/Rectangle_6.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_7.jpg 1x
                        ../img/Cover/img_2x/Rectangle_7.jpg 2x" src="../img/Cover/Rectangle_7.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_5.jpg 1x
                        ../img/Cover/img_2x/Rectangle_5.jpg 2x" src="../img/Cover/Rectangle_5.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_11.jpg 1x
                        ../img/Cover/img_2x/Rectangle_11.jpg 2x" src="../img/Cover/Rectangle_11.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_8.jpg 1x
                        ../img/Cover/img_2x/Rectangle_8.jpg 2x" src="../img/Cover/Rectangle_8.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_12.jpg 1x
                        ../img/Cover/img_2x/Rectangle_12.jpg 2x" src="../img/Cover/Rectangle_12.jpg" width="282"
                    height="162" alt="by_forms" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                    ../img/Cover/img_1x/Rectangle_4.jpg 1x
                    ../img/Cover/img_2x/Rectangle_4.jpg 2x" src="../img/Cover/Rectangle_4.jpg" width="282" height="162"
                    alt="by_forms" />
            </li>
        </ul>
        <ul class="marquee__inner">
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_5.jpg 1x
                        ../img/Cover/img_2x/Rectangle_5.jpg 2x" src="../img/Cover/Rectangle_5.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_12.jpg 1x
                        ../img/Cover/img_2x/Rectangle_12.jpg 2x" src="../img/Cover/Rectangle_12.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_4.jpg 1x
                        ../img/Cover/img_2x/Rectangle_4.jpg 2x" src="../img/Cover/Rectangle_4.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/first screen_1.jpg 1x 
                        ../img/Cover/img_2x/first screen_1.jpg 2x " src="../img/Cover/first screen_1.jpg"
                    alt="by_forms" width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_9.jpg 1x
                        ../img/Cover/img_2x/Rectangle_9.jpg 2x" src="../img/Cover/Rectangle_9.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_11.jpg 1x
                        ../img/Cover/img_2x/Rectangle_11.jpg 2x" src="../img/Cover/Rectangle_11.jpg" alt="by_forms"
                    width="282" height="162" />

            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_10.jpg 1x
                        ../img/Cover/img_2x/Rectangle_10.jpg 2x" src="../img/Cover/Rectangle_10.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_7.jpg 1x
                        ../img/Cover/img_2x/Rectangle_7.jpg 2x" src="../img/Cover/Rectangle_7.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_12.jpg 1x
                        ../img/Cover/img_2x/Rectangle_12.jpg 2x" src="../img/Cover/Rectangle_12.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class=" marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_6.jpg 1x
                        ../img/Cover/img_2x/Rectangle_6.jpg 2x" src="../img/Cover/Rectangle_6.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_8.jpg 1x
                        ../img/Cover/img_2x/Rectangle_8.jpg 2x" src="../img/Cover/Rectangle_8.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
        </ul>
        <ul class="marquee__inner">
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_10.jpg 1x
                        ../img/Cover/img_2x/Rectangle_10.jpg 2x" src="../img/Cover/Rectangle_10.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/first screen_1.jpg 1x 
                        ../img/Cover/img_2x/first screen_1.jpg 2x " src="../img/Cover/first screen_1.jpg"
                    alt="by_forms" width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_8.jpg 1x
                        ../img/Cover/img_2x/Rectangle_8.jpg 2x" src="../img/Cover/Rectangle_8.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_7.jpg 1x
                        ../img/Cover/img_2x/Rectangle_7.jpg 2x" src="../img/Cover/Rectangle_7.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_5.jpg 1x
                        ../img/Cover/img_2x/Rectangle_5.jpg 2x" src="../img/Cover/Rectangle_5.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class=" marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_6.jpg 1x
                        ../img/Cover/img_2x/Rectangle_6.jpg 2x" src="../img/Cover/Rectangle_6.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_4.jpg 1x
                        ../img/Cover/img_2x/Rectangle_4.jpg 2x" src="../img/Cover/Rectangle_4.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_11.jpg 1x
                        ../img/Cover/img_2x/Rectangle_11.jpg 2x" src="../img/Cover/Rectangle_11.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_9.jpg 1x
                        ../img/Cover/img_2x/Rectangle_9.jpg 2x" src="../img/Cover/Rectangle_9.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
        </ul>
        <ul class="marquee__inner">
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_4.jpg 1x
                        ../img/Cover/img_2x/Rectangle_4.jpg 2x" src="../img/Cover/Rectangle_4.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_9.jpg 1x
                        ../img/Cover/img_2x/Rectangle_9.jpg 2x" src="../img/Cover/Rectangle_9.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/first screen_1.jpg 1x 
                        ../img/Cover/img_2x/first screen_1.jpg 2x " src="../img/Cover/first screen_1.jpg"
                    alt="by_forms" width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_8.jpg 1x
                        ../img/Cover/img_2x/Rectangle_8.jpg 2x" src="../img/Cover/Rectangle_8.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_7.jpg 1x
                        ../img/Cover/img_2x/Rectangle_7.jpg 2x" src="../img/Cover/Rectangle_7.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_5.jpg 1x
                        ../img/Cover/img_2x/Rectangle_5.jpg 2x" src="../img/Cover/Rectangle_5.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_10.jpg 1x
                        ../img/Cover/img_2x/Rectangle_10.jpg 2x" src="../img/Cover/Rectangle_10.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class=" marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_6.jpg 1x
                        ../img/Cover/img_2x/Rectangle_6.jpg 2x" src="../img/Cover/Rectangle_6.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_11.jpg 1x
                        ../img/Cover/img_2x/Rectangle_11.jpg 2x" src="../img/Cover/Rectangle_11.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
        </ul>
        <ul class="marquee__inner">
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_10.jpg 1x
                        ../img/Cover/img_2x/Rectangle_10.jpg 2x" src="../img/Cover/Rectangle_10.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class=" marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_6.jpg 1x
                        ../img/Cover/img_2x/Rectangle_6.jpg 2x" src="../img/Cover/Rectangle_6.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
            <li class="marquee__line">
                <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_11.jpg 1x
                        ../img/Cover/img_2x/Rectangle_11.jpg 2x" src="../img/Cover/Rectangle_11.jpg" alt="by_forms"
                    width="282" height="162" />
            </li>
        </ul>
        <li class="marquee__line">
            <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_4.jpg 1x
                        ../img/Cover/img_2x/Rectangle_4.jpg 2x" src="../img/Cover/Rectangle_4.jpg" alt="by_forms"
                width="282" height="162" />
        </li>
        <li class="marquee__line">
            <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_9.jpg 1x
                        ../img/Cover/img_2x/Rectangle_9.jpg 2x" src="../img/Cover/Rectangle_9.jpg" alt="by_forms"
                width="282" height="162" />
        </li>
        <li class="marquee__line">
            <img class="is-active" srcset="
                        ../img/Cover/img_1x/first screen_1.jpg 1x 
                        ../img/Cover/img_2x/first screen_1.jpg 2x " src="../img/Cover/first screen_1.jpg"
                alt="by_forms" width="282" height="162" />
        </li>
        <li class="marquee__line">
            <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_8.jpg 1x
                        ../img/Cover/img_2x/Rectangle_8.jpg 2x" src="../img/Cover/Rectangle_8.jpg" alt="by_forms"
                width="282" height="162" />
        </li>
        <li class="marquee__line">
            <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_7.jpg 1x
                        ../img/Cover/img_2x/Rectangle_7.jpg 2x" src="../img/Cover/Rectangle_7.jpg" alt="by_forms"
                width="282" height="162" />
        </li>
        <li class="marquee__line">
            <img class="is-active" srcset="
                        ../img/Cover/img_1x/Rectangle_5.jpg 1x
                        ../img/Cover/img_2x/Rectangle_5.jpg 2x" src="../img/Cover/Rectangle_5.jpg" alt="by_forms"
                width="282" height="162" />
        </li>
        </ul>
    </div>
</section>

<!-- <script type="module" src="./script.js"></script> -->