<section id="faq" class="faq-container container">
  <h2 class="faq-li-hero-box-title">FAQ</h2>
  <ul class="ul-styles accordion">
    <li class="faq-li-styles">
      <div class="li-main-part containerbtn">
        <div class="faq-li-hero-box label">
          What programming languages ​​are most often used in your project?
        </div>
        <div class="btn-box">
          <button class="arrow-btn" type="button">
            <svg class="arrow-icon">
              <use href="../img/sprite.svg#icon-accordion-up"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="faq-li-second-box content">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </div>
    </li>
    <li class="faq-li-styles">
      <div class="li-main-part">
        <div class="faq-li-hero-box">
          What are the deadlines for the project?
        </div>
        <div class="btn-box">
          <button class="arrow-btn" type="button">
            <svg class="arrow-icon">
              <use href="../img/sprite.svg#icon-accordion-up"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="faq-li-second-box">
        The terms of project implementation depend to a large extent on a number
        of factors, such as the scope of the project, its complexity, and the
        availability of resources. Determining exact deadlines is a difficult
        task, and it usually occurs during the planning phase of the project.
      </div>
    </li>
    <li class="faq-li-styles">
      <div class="li-main-part">
        <div class="faq-li-hero-box">What payment methods do you accept?</div>
        <div class="btn-box">
          <button class="arrow-btn" type="button">
            <svg class="arrow-icon">
              <use href="../img/sprite.svg#icon-accordion-up"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="faq-li-second-box">
        Payment through credit and debit cards such as Visa, MasterCard,
        specialized electronic payment systems such as PayPal, as well as
        payments in cryptocurrencies such as Bitcoin, Ethereum and others.
      </div>
    </li>
    <li class="faq-li-styles">
      <div class="li-main-part">
        <div class="li-hero-box-gap faq-li-hero-box">
          How can I contact you?
        </div>
        <div class="btn-box">
          <button class="arrow-btn" type="button">
            <svg class="arrow-icon">
              <use href="../img/sprite.svg#icon-accordion-up"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="faq-li-second-box">
        In the field of web development, there are various technologies and
        programming languages. Typically, this includes a combination of
        frontend (client side) and backend (server side) languages.
      </div>
    </li>
    <li class="faq-li-styles">
      <div class="li-main-part">
        <div class="faq-li-hero-box">Do you provide advice or support?</div>
        <div class="btn-box">
          <button class="arrow-btn" type="button">
            <svg class="arrow-icon">
              <use href="../img/sprite.svg#icon-accordion-up"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="faq-li-second-box">
        The terms of project implementation depend to a large extent on a number
        of factors, such as the scope of the project, its complexity, and the
        availability of resources. Determining exact deadlines is a difficult
        task, and it usually occurs during the planning phase of the project.
      </div>
    </li>
    <li class="faq-li-styles">
      <div class="li-main-part">
        <div class="faq-li-hero-box">
          What does the process of developing a software product look like from
          idea to implementation?
        </div>
        <div class="btn-box">
          <button class="arrow-btn" type="button">
            <svg class="arrow-icon">
              <use href="../img/sprite.svg#icon-accordion-up"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="faq-li-second-box">
        Payment through credit and debit cards such as Visa, MasterCard,
        specialized electronic payment systems such as PayPal, as well as
        payments in cryptocurrencies such as Bitcoin, Ethereum and others.
      </div>
    </li>
  </ul>
</section>
<script src="../js/faq.js" type="module"></script>
