<header class="container">
    <div class="header">
        <div class="img-and-name">
            <img class="header-img" srcset="../img/header/header-face@2x.jpg 2x" src="../img/header/header-face@1x.jpg"
                alt="My face">
            <h2 class="header-logo">jefferson*</h2>
        </div>
        <div class="menu-slider">
            <button class="burger-tablet-and-desktop hidden" type="button">Menu</button>
            <ul class="click-slider-menu hidden">
                <li>
                    <a href="#">About me</a>
                </li>
                <li>
                    <a href="#">Benefits</a>
                </li>
                <li>
                    <a href="#">Projects</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
        <button class="button-for-orders hidden" type="button">Order the project</button>
        <button class="header-btn-burger" type="button">
            <svg class="header-svg-burger" aria-label="menu">
                <use href="./img/sprite.svg#icon-burger" width="28" height="28"></use>
            </svg>
        </button>
    </div>
</header>