<section class="hero-section">
  <div class="container">
    <div class="gradient"></div>

    <h1 class="hero-h1">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>

    <ul class="menu-link-portfolio list">
      <li class="li-link-portfolio">
        <a
          class="item-link-portfolio link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          >IG</a
        >
      </li>
      <li class="li-link-portfolio">
        <a
          class="item-link-portfolio link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          >FB</a
        >
      </li>
      <li class="li-link-portfolio">
        <a
          class="item-link-portfolio link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          >YT</a
        >
      </li>
      <li class="li-link-portfolio">
        <a
          class="item-link-portfolio link"
          href="https://github.com/vityayakymchuk/Portfolio"
          target="_blank"
          >GH</a
        >
      </li>
      <li class="li-email-portfolio">
        <a
          class="item-link-portfolio link"
          href="mailto:lloydjefferson@gmail.com"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
