<!-- <section class="hero-section container"> -->

<!-- <div class="gradient"> -->
<!-- <img class="gradient" srcset="./img/header/glass-effect@2x.jpg" src="./img/header/glass-effect@1x.jpg"
        alt="Background"> -->
<!-- </div> -->

<!-- <div class="aaa"></div> -->

<!-- <h1 class="hero-h1">
        Hello.<br>
        I’m Fullstack developer
        Lloyd Jefferson.
    </h1>

    <ul class="menu-link-portfolio list">
        <li class="li-link-portfolio">
            <a class="item-link-portfolio link" href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
        </li>
        <li class="li-link-portfolio">
            <a class="item-link-portfolio link" href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
        </li>
        <li class="li-link-portfolio">
            <a class="item-link-portfolio link" href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
        </li>
        <li class="li-link-portfolio">
            <a class="item-link-portfolio link" href="#" target="_blank">GH</a>
        </li>
        <li class="li-email-portfolio">
            <a class="item-link-portfolio link" href="#" target="_blank">lloydjefferson@gmail.com</a>
        </li>
    </ul> -->



<!-- </section> -->