<!-- ========================= Backdrop =========================-->
<div class="mobile-menu-wrapper" data-menu>

    <div class="gradient-modal"></div>

    <div class="mobile-container-menu container">


        <div class="mobile-top">
            <button class="close-btn-backdrop" type="button" data-menu-close>
                <svg class="header-svg-burger" width="14" height="14" aria-label="close button menu">
                    <use href="./img/sprite.svg#icon-exit"></use>
                </svg>
            </button>
        </div>

        <nav class="mobile-navigation-wrapper">
            <ul class="header-menu-wrapper list">
                <li class="header-menu-item">
                    <a class="header-menu-link link" href="#">About me</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link link" href="#">Benefits</a>
                </li>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link link" href="#">Projects</a>
                </li>
                <li class="header-menu-item">
                    <a class="header-menu-link link" href="#">FAQ</a>
                </li>
            </ul>
        </nav>

        <button class="btn-order-the-project" type="button">Order the project</button>
    </div>
</div>
<!--========================= /Backdrop ========================= -->