<section class="projects">
    <div class="container">
        <h2 class="projects-title">Projects</h2>
        <div class="projects-sections">
        <div class="projects-top-section">
        <ul class="technologies-list">
            <li class="technologies-list-item">#react</li>
            <li class="technologies-list-item">#js</li>
            <li class="technologies-list-item">#node js</li>
            <li class="technologies-list-item">#git</li>
        </ul>
        <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
        <a class="projects-btn" href="">See project</a>
    </div>
    <div class="projects-bottom-section">
<ul class="projects-list">
    <li class="projects-list-item"><picture>
        <source srcset="../img/Projects/1-desktop1x.jpg 1x, ../img/Projects/1-desktop2x.jpg 2x" media="(min-width: 1440px)" />
        <source srcset="../img/Projects/1-tablet1x.jpg 1x, ../img/Projects/1-tablet2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="../img/Projects/1-mobile1x.jpg 1x, ../img/Projects/1-mobile2x.jpg 2x" media="(max-width: 767px)" />
        <img src="../img/Projects/1-desktop1x.jpg" alt="">
    </picture></li>
    <li class="projects-list-item"><picture>
        <source srcset="../img/Projects/2-desktop1x.jpg 1x, ../img/Projects/2-desktop2x.jpg 2x" media="(min-width: 1440px)" />
        <source srcset="../img/Projects/2-tablet1x.jpg 1x, ../img/Projects/2-tablet2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="../img/Projects/2-mobile1x.jpg 1x, ../img/Projects/2-mobile2x.jpg 2x" media="(max-width: 767px)" />
        <img src="../img/Projects/2-desktop1x.jpg" alt="">
    </picture>
    </li>
    <li class="projects-list-item"><picture>
        <source srcset="../img/Projects/3-desktop1x.jpg 1x, ../img/Projects/3-desktop2x.jpg 2x" media="(min-width: 1440px)" />
        <source srcset="../img/Projects/3-tablet1x.jpg 1x, ../img/Projects/3-tablet2x.jpg 2x" media="(min-width: 768px)" />
        <source srcset="../img/Projects/3-mobile1x.jpg 1x, ../img/Projects/3-mobile2x.jpg 2x" media="(max-width: 767px)" />
        <img src="../img/Projects/3-desktop1x.jpg" alt="">
    </picture>

    </li>
</ul>
</div>
</div>
<div class="arrows">
    <button class="arrow-btn" type="button">
        <svg class="arrow-icon">
            <use href="../img/sprite.svg#icon-right-arrow"></use>
        </svg>
    </button>
    <button class="arrow-btn" type="button">
        <svg class="arrow-icon">
            <use href="../img/sprite.svg#icon-left-arrow"></use>
        </svg>
    </button>
</div>

    </div>
</section>
