<section class="reviews">
    <div class="container reviews-container">
        <h2 class="reviews-title">Reviews</h2>
        <!-- текст про те що не знайдено елементи якщо буде помилка від апі -->
        <p class="hide-element not-found">Not found<p>
        <div class="swiper mySwiper">
            <ul class="swiper-wrapper reviews-ul">      

                
            </ul>
            <div class="swiper-buttons">
                <div class="button-prev">
                    <button aria-label="next-review" class="review-btn" type="button">
                        <svg class="review-icon" width="24px" height="24px">
                            <use  href="./img/sprite.svg#icon-right-arrow"></use>
                        </svg>
                    </button>
                </div>

                <div class="button-next">
                    <button aria-label="next-review" class="review-btn" type="button">
                        <svg class="review-icon" width="24px" height="24px">
                            <use class="review-arrow" href="./img/sprite.svg#icon-left-arrow"></use>
                        </svg>
                    </button>
                </div>
            </div>   
        </div>
    </div>
    
</section>

