<section class="footer" id="footer-section">
    <div class="footer-div container">
        <div class="footer-div-title">
            <img class="footer-img" srcset="../img/work-together/image.png 1x, ../img/work-together/image2x.png 2x"
                src="../img/work-together/image.png" width="44" height="44" alt="jefferson">
            <h2 class="footer-title">Let's<span class="footer-title footer-span">work</span> </h2>
        </div>
        <h3 class="footer-title footer-title-two">together</h3>

        <div class="footer-form-and-button">
            <div class="footer-form-div">
                <form class="footer-form">
                    <div class="footer-div-for-inputs">
                        <input class="footer-input" id="user-email" name="user-email" type="text"
                            placeholder="clients@gmail.com" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
                        <input class="footer-input" id="user-comments" name="user-comments" type="text"
                            placeholder="comments" pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" required>
                    </div>
                </form>
            </div>
            <button class="skill-button skill-button-active" type="submit">Send</button>
        </div>
        <div class="footer-conatcts-div">
            <ul class="footer-ul">
                <li class="footer-list"><a class="footer-link footer-mail" href="">lloydjefferson@gmail.com</a></li>
                <li class="footer-list"><a class="footer-link footer-tel" href="">+380 11 1111 11 11</a></li>
            </ul>
        </div>
    </div>
</section>
<div class="modal-overlay modal-overlay-is-open visually-hidden">
    <div class="modal-window visually-hidden">
        <button class="footer-button-modale-window" type="button">
            <svg class="footer-icon" width="11" height="11">
                <use href="../img/sprite.svg#icon-exit"></use>
            </svg>
        </button>
        <div class="modal-window-div-text">
            <h2 class="modal-window-title">Thant you for your interest of cooperation!</h2>
            <p class="modal-window-paragraph">The manager will contact you shortly to discuss further details and
                opportunities for cooperation. Please stay touch.</p>
        </div>
    </div>
</div>