.container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
