@media screen and (min-width: 320px) {
  .js_enable_animation {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .is-active {
    width: 282px;
    height: 162px;
  }
  /*===============================*/
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .marquee {
      background-image: url('../img/Cover/mobile_2x.png');
    }
  }
  /*===============================*/

  .marquee {
    width: 100%;
    background-image: url('../img/Cover/mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;

    /* max-width: 375px;*/
    margin-left: auto;
    margin-right: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .marquee {
    height: 508px;
    position: relative;
    right: -800px;
    left: 0;
    overflow: hidden;
    font-family: 'Pridi', sans-serif;
    font-weight: 600;
    font-size: 34px;
    text-transform: uppercase;
  }

  .marquee__inner {
    position: relative;
    top: -200px;
    display: flex;
    transform: rotate(16deg);
  }
  /*================================================*/
  .animate {
    animation-name: marqueeLine;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  /*================================================*/
  .marquee__line {
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: marqueeLine;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    white-space: nowrap;
  }

  @keyframes marqueeLine {
    from {
      transform: translateX(-20%);
    }

    to {
      transform: translateX(-180%);
    }
  }
}

@media screen and (min-width: 768px) {
  .js_enable_animation {
    height: 960px;
  }
  /*===========================================*/
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .marquee {
      background-image: url('../img/Cover/tablet_2x.png');
    }
  }
  /*===========================================*/
  .marquee {
    background-image: url('../img/Cover/tablet.png');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 960px;
  }
  .is-active {
    width: 514px;
    height: 314px;
  }
  .marquee__line {
    margin-right: 45px;
    margin-bottom: 45px;
  }
}
@media screen and (min-width: 1440px) {
  .js_enable_animation {
    width: 1440px;
    height: 960px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .marquee {
      background-image: url('../img/Cover/desktop_2x.png');
    }
  }

  .marquee {
    background-image: url('../img/Cover/desktop.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .is-active {
    width: 514px;
    height: 314px;
  }
  .marquee__line {
    margin-right: 65px;
    margin-bottom: 65px;
  }
}
