.gradient {
  position: absolute;
  top: 0;
  left: 0;

  height: 812px;
  min-width: 100%;

  background-color: var(--color-dark);
  background-position: center center;

  background: linear-gradient(
    to left,
    rgba(28, 29, 32, 1) 49.68%,
    rgba(105, 41, 45, 1) 67.73%,
    rgba(237, 59, 68, 1) 100%
  );

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/header/glass-effect-mobile@1x.jpg');
  /* background-image: image-set('../img/header/glass-effect-mobile@1x.jpg'); */

  z-index: -10000;
  /* backdrop-filter: blur(100px); */
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-devace-pixel-ratio: 2) and (max-width: 767px) {
  .gradient {
    background-image: url('../img/header/glass-effect-mobile@2x.jpg');
    /* background-image: image-set('../img/header/glass-effect-mobile@2x.jpg'); */
  }
}

.hero-section {
  height: 812px;
  padding-top: 281px;
  padding-bottom: 32px;
  margin-bottom: 64px;
}

.hero-h1 {
  max-width: 343px;
  text-align: start;
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--border-hover);
  margin-bottom: 212px;
}

.menu-link-portfolio {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 4px;
}

/* .menu-link-portfolio:hover {} */

.item-link-portfolio {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.li-link-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-transp-04-text);
  border-radius: 60px;
  transition: border-color 250ms ease-in-out;
  width: 37px;
  height: 37px;
}

.li-email-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-transp-04-text);
  border-radius: 60px;
  transition: border-color 250ms ease-in-out;
  height: 37px;
  padding: 10px 12px;
}

.li-link-portfolio:hover,
.li-email-portfolio:hover {
  border-color: var(--border-hover);
}

.menu-link-portfolio li:last-child .item-link-portfolio {
  border-radius: 60px;
  width: inherit;
}

@media screen and (max-width: 359px) {
  .hero-h1 {
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 359px) and (max-width: 374px) {
  .hero-h1 {
    margin-bottom: 170px;
  }
}

/* ================================= TABLET ================================= */

@media screen and (min-width: 768px) {
  .gradient {
    height: 1024px;

    /* background-image: -webkit-image-set('../img/header/glass-effect-tablet@1x.jpg' */
    /* ); */
    background-image: url('../img/header/glass-effect-tablet@1x.jpg');
  }

  @media screen and (min-resolution: 192dpi) and (max-width: 1439px),
    screen and (min-resolution: 2dppx) and (max-width: 1439px),
    screen and (min-devace-pixel-ratio: 2) and (max-width: 1439px) {
    .gradient {
      background-image: url('../img/header/glass-effect-tablet@2x.jpg');
      /* background-image: image-set('../img/header/glass-effect-tablet@2x.jpg'); */
    }
  }

  .hero-section {
    height: 1024px;
    width: 100%;
    padding-top: 300px;
    padding-bottom: 31px;
    margin-bottom: 96px;
  }

  .hero-h1 {
    max-width: 632px;
    font-size: 90px;
    font-style: normal;
    margin-bottom: 187px;
  }

  .menu-link-portfolio {
    gap: 8px;
  }

  .item-link-portfolio {
    font-size: 16px;
  }

  .li-link-portfolio {
    width: 55px;
    height: 55px;
  }

  .li-email-portfolio {
    height: 55px;
    padding: 18px 24px;
  }
}

/* ================================= DESKTOP ================================= */

@media screen and (min-width: 1440px) {
  .gradient {
    height: 900px;

    /* background-image: -webkit-image-set('./img/header/glass-effect-desktop@1x.jpg' */
    /* ); */
    background-image: url('../img/header/glass-effect-desktop@1x.jpg');
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1440px),
    screen and (min-resolution: 2dppx) and (min-width: 1440px),
    screen and (min-devace-pixel-ratio: 2) and (min-width: 1440px) {
    .gradient {
      background-image: url('../img/header/glass-effect-desktop@2x.jpg');
      /* background-image: image-set('../img/header/glass-effect-desktop@2x.jpg'); */
    }
  }

  .hero-section {
    height: 900px;
    padding-top: 300px;
    padding-bottom: 31px;
  }

  .hero-h1 {
    max-width: 1084px;
    margin-bottom: 244px;
  }

  .menu-link-portfolio {
    gap: 8px;
  }

  .item-link-portfolio {
    font-size: 16px;
  }

  .li-link-portfolio {
    width: 55px;
    height: 55px;
  }

  .li-email-portfolio {
    height: 55px;
    padding: 18px 24px;
  }
}
