/* ========================= Mobele Backdrop ========================= */
.mobile-menu-wrapper {
    display: none;
    height: 812px;
}

@media screen and (min-width: 320px) and (max-width:767px) {

    .mobile-menu-wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-color: var(--color-dark);
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
    }

    .gradient-modal {
        position: absolute;
        top: 0;
        left: 0;

        height: 812px;
        min-width: 100%;

        background-color: var(--color-dark);
        background-position: center center;

        background: linear-gradient(to left,
                rgba(28, 29, 32, 1) 49.68%,
                rgba(105, 41, 45, 1) 67.73%,
                rgba(237, 59, 68, 1) 100%);

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url('../img/header/glass-effect-modal@1x.jpg');
        /* background-image: image-set('../img/header/glass-effect-modal@1x.jpg'); */

        z-index: -1000;
        /* backdrop-filter: blur(100px); */
    }

    @media screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px),
    screen and (min-devace-pixel-ratio: 2) and (max-width: 767px) {
        .gradient-modal {
            background-image: url('../img/header/glass-effect-modal@2x.jpg');
            /* background-image: image-set('../img/header/glass-effect-modal@2x.jpg'); */
        }
    }





    .mobile-top {
        position: absolute;
        top: 32px;
        right: 16px;
    }



    .close-btn-backdrop {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;

    }

    .mobile-navigation-wrapper {
        margin-top: 302px;
        margin-bottom: 289px;
    }

    .header-menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 12px; */
    }

    .header-menu-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: underline;
        text-underline-offset: 3px;
        padding: 6px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        letter-spacing: -0.02em;
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: var(--color-btn);
    }

    .btn-order-the-project {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: 60px;
        width: 164px;
        height: 45px;
        background-color: var(--color-btn);
        transition: background-color 250ms ease-in-out;

        margin-left: auto;
        margin-right: auto;
    }

    .btn-order-the-project:hover,
    .btn-order-the-project:focus {
        background-color: var(--color-btn-focus);
    }

}