.projects {
    background-color: var(--color-dark);
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .projects-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--color-transp-04-text);
    margin-bottom: 32px;
  }

  .projects-top-section {
    background-color: var(--color-white);
    border-radius: 24px 24px 0 0;
    padding: 32px;
  }

  .technologies-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    gap: 6px;
  }

  .technologies-list-item {
    color: black;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    border: 1px solid var(--color-border-projects);
    border-radius: 60px;
    padding: 13px 18px;
  }

  .projects-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--color-dark);
    margin-top: 96px;
    margin-bottom: 32px;
  }
  
  .projects-btn {
    border-radius: 60px;
    background-color: var(--color-btn);
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    max-width: 141px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 13px;
  }

  .projects-bottom-section{
    background-color: var(--color-dark-light);
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 24px 24px;
    margin-bottom: 32px;
    padding: 100px 16px;
  }
  
  .project-img {
   width: 100%;
  }

.arrows {
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 1px solid var(--color-transp-02-text);
  }
  
  .arrow-icon {
    width: 24px;
    height: 24px;
    stroke: var(--color-dark-grey);
  }
  
  @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
    }
  }
  @media screen and (min-width: 768px) {
.container {
  max-width: 768px;
}

    .projects-top-section {
      padding: 64px;
    }
  
    .projects-text {
      font-size: 44px;
      margin-top: 164px;
      max-width: 494px;
  }
  .projects-btn {
    max-width: 177px;
    padding: 18px;
  }

  .projects-bottom-section{
    padding: 120px 45px;
  }

  }
  
  @media screen and (min-width: 1440px) {
.container {
  max-width: 1440px;
}
    .projects-sections {
      display: flex;
      flex-direction: row;
      
    } 

    .projects-top-section {
      height: 625px;
    border-radius: 24px 0 0 24px;
    margin-bottom: 64px;
    }

    .projects-bottom-section{
      height: 625px;
      padding: 120px 37px;
      border-radius:  0 24px 24px 0;
    }
    
  }
