/* цим приховую not-found */
.hide-element {
    display: none;
}
.not-found {
    font-size: 40px;
    text-align:center;
}
/* MOBILE */
.reviews-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--color-transp-04-text);
    margin-bottom: 32px;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
   display: flex;
   width: 100%;
   margin-bottom: 32px;    
}
/* тут перебиваю стилі лібки */
.swiper .swiper-slide {
    height: 302px;
    overflow: auto;
    padding: 32px 24px 32px 24px;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 20px;
        
}
/* ховаю скролбар на слайдах */
.swiper .swiper-slide::-webkit-scrollbar {
    display: none;
}
.review-img {
    border-radius: 10px;
    margin-bottom: 32px;
}

.support-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.review-author {
    
    /* Mobile/H5 */
    color: var(--color-white);
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: left;
}
.review-text {
    /* Mobile/Main text */
    color: var(--color-transp-06-text);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;;
    text-align: left;
}
.swiper-buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}

.review-btn {
    padding: 14px;
    background-color: inherit;
    /* не було в рутах */
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.review-btn:disabled {
    border: 1px solid var(--border-color)
    
}

.review-icon {
    
    stroke: rgba(255, 255, 255, 0.5)

}

.review-btn:disabled .review-icon {
    stroke: var(--color-dark-grey);
}

@media screen and (min-width: 768px) {
    .swiper {
        width: 704px;           
        
    }
}

@media screen and (min-width: 1440px) {
    .swiper {
        width: 1440px;
        /* margin: 164px auto;     */
        
    }
}