/* Colors */

body .footer-div-title {
    color: var(--color-dark)
    var(--color-white)
}

body .footer-span {
    color: var(--color-btn);
}

body .footer-input {
    color: var(--color-dark-light);
    border-bottom: 1px solid var(--color-dark-light);
}


body .footer-link {
    border: 1px solid var(--color-white);
    color: var(--color-white);
}

body .footer-link:hover {
    border: 1px solid var(--color-dark);
    transition: var(--border-hover);
}

body {
    background-color: var(--color-dark);
}


/* Main CSS */


.footer-div {
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer-div-title {
    display: flex;
}
.footer-img {
    height: 44px;
    width: 44px;
    margin-right: 8px;
}
.footer-title {
    color: var(--color-white);
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.03em;
    font-family: var(--font-family);
}
.footer-title-two {
    margin-top: 8px;
    margin-bottom: 64px;
}
.footer-span {
    color: var(--color-btn)
}
.footer-div-for-inputs {
    display: block;
}
.footer-input {
    width: 343px;
    height: 44px;
    background-color: transparent;
    padding: 0 0 20px 0;
    font-family: var(--font-family);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--color-transp-04-text);
    margin-bottom: 16px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--color-transp-02-text);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}
.footer-input:hover {
    border-bottom: 1px solid var(--color-transp-04-text);
    color: var(--color-white);
}
.footer-input-tel {
    margin-bottom: 40px;
}

/* .footer-button {
  background: var(--red-color);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--white-color);
  margin-top: 16px;
  margin-bottom: 64px;
} */

.skill-button {
    color: var(--color-white);
    padding: 65px 56px;
    border-radius: 50%;
    border: 1px solid var(--color-dark-light);
}

.skill-button-active {
    background-color: var(--color-btn);
    border: none;
}

.footer-ul {
    display: flex;
    flex-direction: row;
}
.footer-list {
    margin-bottom: 20px;
    margin-left: 4px;
    display: flex;
}
.footer-link {
    border: 1px solid var(-border-color);
    border-radius: 60px;
    padding: 10px 12px;
    width: 178px;
    height: 37px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.footer-link:hover {
    border: 1px solid var(--color-white);
    transition: var(--border-hover);
}
.footer-tel {
    max-width: 118px;
    padding: 0px;
}
.footer-mail {
    padding: 10px 12px;
}


/* ===== Modal Window ===== */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 16, 0.6);
    opacity: 0;
    pointer-events: none;
}
.modal-overlay-is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
    background-color: var(--color-dark);
    border: 1px solid var(--color-border-projects);
    border-radius: 20px;
    padding: 64px 32px;
    max-width: 343px;
    max-height: 80%;
    position: relative;
}
.footer-button-modale-window {
    background-color: transparent;
    width: 22px;
    height: 22px;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: var(--color-white);
    stroke-width: 2px;
    margin-bottom: 21px;
    cursor: pointer;
    position: absolute;
    top: 21px;
    right: 16px;
}
.modal-window-div-text {
    width: 279px;
    height: 148px;
}
.modal-window-title {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--color-white);
    margin-bottom: 16px;
}

.modal-window-paragraph {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}


/* .footer-div-for-inputs {
    display: flex;
    flex-direction: column; 
} */

.footer-input {
    width: 245px;
    height: 44px;
    margin-right: 16px;
    margin-bottom: 0;
}


/* .footer-button {
    margin-left: 16px;
    margin-bottom: 18px;
} */


.footer-link {
    /* padding: 18px 32px; */
    width: 239px;
    height: 55px;
}



/* ===== Modal Window ===== */

.modal-window {
    max-width: 492px;
}
.footer-button-modale-window {
    width: 24px;
    height: 24px;
    top: 20px;
    right: 20px;
}
.footer-icon {
    width: 12px;
    height: 12px;
}
.modal-window-div-text {
    width: 364px;
    height: auto;
}



/* ===== Media screens ===== */

/* Tablet version */

@media screen and (min-width: 768px) {
    .footer-div {
        padding-top: 80px;
        padding-bottom: 169px;
    }

    .footer-img {
        border-radius: 24px;
        width: 70px;
        height: 70px;
    }

    .footer-title {
        font-size: 64px;
    }

    .footer-title-two {
        margin-top: 7px;
    }

    .footer-form-and-button {
        display: flex;
        align-items: center;
    }
}

/* PC version */

@media screen and (min-width: 1440px) {
    .footer-input {
        width: 390px;
        height: 44px;
        margin-right: 32px;
    }

    .footer-div {
        padding-left: 196px;
        padding-right: 196px;
    }

    .footer-ul {
        padding-top: 63px;
    }

    /* .footer-button {
    margin-left: 54px;
    width: 150px;
    height: 150px;
  } */
}


@media screen and (max-width: 374.98px) {}

@media screen and (min-width: 375px) {}